header{
	height: 100px;
	background-color: #f181dc ;
}

h1 {
	float: left;
	color: white;
	font-size: 30px;
	font-weight: bold;
	font-family: sans-serif, arial ;
	line-height: 100px;
	padding-left: 5%;
	width: 40%;
	text-shadow: 2px 2px #7b92f1;
}
 nav hover{
 	float: right;
 	text-align: right;
 	width: 50%;
 	padding-right: 5%;

 }

nav a {
	color: #f9e42e;
	font-size: 18px;
	text-decoration: none;
	line-height: 100px;
	padding-right: 2%;
	font-family: sans-serif;
}

main {
/*	clear: both;
*/	padding-top: 30px;
	background-color: #fff388;
}

section{
	width: 50%;
	float: left;
	margin-left: 5%;
	padding: 1px;
}

article img {
	width: 400px;
}

article p {
	padding-top: 15px;
	padding-bottom: 15px;
	
}

h2 {
	font-size: 28px;
	padding-bottom: 15px;
	font-family: sans-serif;
	color: #7b92f1;
}

moica.jpg {
	height: 75%;
	width:  75%;
	margin: 20px;
}

aside{
	width: 25%;
	float: right;

}

#categories	a {
	display: block;
	padding: 1%;
	text-decoration-style: none;


}

footer{
	clear: both;
}
